.container {
  display: flex;
  flex-direction: column;
  width: 295px;
  height: 400px;

  :hover {
    cursor: pointer;
  }

  & img {
    border-radius: 10px;
  }

  & span {
    margin-top: 15px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
  }

  & p {
    margin-top: 0;
    font-weight: 700;
    font-size: 20px;
  }

  @media screen and (max-width: 719px) {
    height: auto;
  }
}