.container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffbd14;
}

.backButton {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 12px;
  color: white;
  cursor: pointer;

  &.disabled {
    background-color: #ffbd14;
    color: #ffbd14;
    cursor: default;
  }
}

.title {
  color: black;
  font-size: 23px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
